nav
  a.navigation-link(href='/') Home
  a.navigation-link(href='/park') Park
  a.navigation-link(href='/unpark') Unpark
  a.navigation-link(href='/create-booking') Create Booking
  a.navigation-link(href='/manage-booking') Manage Booking
  a.navigation-link(href='/manage-account') Manage Account
  a.navigation-link(href='/add-balance') Add Balance
  if loggedIn && !(user.isAdmin)
    a.navigation-link(href='/send-message') Send Message
  if loggedIn && user.isAdmin
    a.navigation-link(href='/admin-data-view') Admin Data View
    a.navigation-link(href='/admin-manage-parking') Manage Parking
    a.navigation-link(href='/admin-manage-users') Manage Users
    a.navigation-link(href='/admin-parking-requests') Admin Parking Requests
    a.navigation-link(href='/admin-send-message') Admin Send Message
  if loggedIn 
    a.navigation-link(href='/logout') Logout
  else 
    a.navigation-link(href='/logout') Login
