nav
  a.navigation-link(href='/') Home
  a.navigation-link(href='/create-booking') Create Booking
  a.navigation-link(href='/manage-booking') Manage Booking
  a.navigation-link(href='/add-balance') Add Balance
  if loggedIn 
    a.navigation-link(href='/logout') Logout
  else 
    a.navigation-link(href='/logout') Login