extends layout

block header
  header
    img.logo(src='images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}



block content
  .container
    nav
      a.navigation-link(href='/') Home
      a.navigation-link(href='/create-booking') Create Booking
      a.navigation-link(href='/manage-booking') Manage Booking
      a.navigation-link(href='/add-balance') Add Balance
      a.navigation-link(href='/logout') Logout
    .main-content
      label(for='date') Select Date:
      input#date(type='date' name='date')
      label(for='time') Select Time:
      input#time(type='time' name='time')
      input(type='submit' value='Submit')
      p Available times:
      // This is where you would add the available times based on their inputs
