extends layout

block header
  header
    img.logo(src='/images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug
    .main-content
      h2 Logout
      p Are you sure you want to logout?
      form(action='logout' method='post')
        input(type='submit' value='Logout')
      // Wehn they click the submit button it should make it so they logout and are redirected to the login page

