extends layout

block header
  header    
    img.logo(src='images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug
    .main-content
      form(action='/manage-account/update' method='POST')
        // Change Password
        label(for='changePass') Change Password:
        input#changePass(type='password' name='changePass' placeholder='Enter new password' required)

        // Change Email
        label(for='changeEmail') Change Email:
        input#changeEmail(type='email' name='changeEmail' placeholder='Enter new email' required)

        // Submit button
        input(type='submit' value='Submit' id='submitButton')
