extends layout

block header
  header    
    img.logo(src='images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug
    .main-content
      form(action='/manage-account' method='POST')

        label(for='changeName') Change Name:
        input#username(type='text' name='changeName' value=user.username)

        label(for='changePass') Change Password:
        input#password(type='password' name='changePass')

        label(for='changeEmail') Change Email:
        input#email(type='email' name='changeEmail' value=user.email)

        input(type='submit' value='Update')

