extends layout

block header
  header
    img.logo(src='images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug
    .main-content

      h2 Choose the booking that you wish to park for:
      form(action='/park-select' method='POST')

        label(for='bookingID') Booking ID:
        input#bookingID(type='number' name='bookingID' placeholder='Booking ID')

        input(type='submit' value='Select Booking')
      if errorMsg
        p #{errorMsg}

