extends layout

block header
  header
    img.logo(src='/images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug

    .main-content
      h2 Send Message
      if message
        .response-message(class=messageType) #{message}
      form(action='/send-message', method='POST')
        label(for='message') Message:
        textarea#message(name='message' required)
        br
        input(type='submit' value='Send')
