body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #403D39;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0A8754;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  max-width: 150px;
}

.account-balance {
  font-size: 18px;
}

.container {
  display: flex;
}

nav {
  background-color: #CCC5B9;
  width: 200px;
  padding: 20px;
  height: 100vh;
}

.navigation-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #403D39;
  font-weight: bold;
  margin-top: 50px;
}

.main-content {
  padding: 20px;
  color: black;
  text-align: center;
  flex-grow: 1;
  background-color: #FFFCF2;
}

.main-content img {
  max-width: 100%;
  height: auto;
}
