body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 60%;
  margin: 0 auto;
  background-color: #ddd8ce;
}

header {
  background-color: #403D39;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0A8754;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  max-width: 150px;
}

.account-balance {
  font-size: 18px;
}

.container {
  display: flex;
}

nav {
  background-color: #CCC5B9;
  width: 200px;
  padding: 20px;
  height: 100vh;
}

.navigation-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #403D39;
  font-weight: bold;
  margin-top: 50px;
}

.main-content {
  padding: 20px;
  color: black;
  text-align: center;
  flex-grow: 1;
  background-color: #FFFCF2;
  flex-direction: column;
  display: flex;
}

.main-content img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="number"],
input[type="month"] {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 10px;
}

form {
  width: 300px;
  margin: 0 auto; 
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="month"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box; 
}
